CoreService/RemittanceProject/SMSMoneyFer/NCRMoneyFerCustomerAlertService/CustomerAlertService/Web References/UBSMSWS/UBSMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ASM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Mobile_NO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Priority" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ASMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ASMResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_SMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Msg_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mobile_NO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Validty" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StartTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Service" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_SMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Send_SMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ASMSoapIn">
    <wsdl:part name="parameters" element="tns:ASM" />
  </wsdl:message>
  <wsdl:message name="ASMSoapOut">
    <wsdl:part name="parameters" element="tns:ASMResponse" />
  </wsdl:message>
  <wsdl:message name="Send_SMSSoapIn">
    <wsdl:part name="parameters" element="tns:Send_SMS" />
  </wsdl:message>
  <wsdl:message name="Send_SMSSoapOut">
    <wsdl:part name="parameters" element="tns:Send_SMSResponse" />
  </wsdl:message>
  <wsdl:portType name="SendSMS2Soap">
    <wsdl:operation name="Send_SMS">
      <wsdl:input name="ASM" message="tns:ASMSoapIn" />
      <wsdl:output name="ASM" message="tns:ASMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Send_SMS">
      <wsdl:input message="tns:Send_SMSSoapIn" />
      <wsdl:output message="tns:Send_SMSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SendSMS2Soap" type="tns:SendSMS2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Send_SMS">
      <soap:operation soapAction="http://tempuri.org/ASM" style="document" />
      <wsdl:input name="ASM">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ASM">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_SMS">
      <soap:operation soapAction="http://tempuri.org/Send_SMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SendSMS2Soap12" type="tns:SendSMS2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Send_SMS">
      <soap12:operation soapAction="http://tempuri.org/ASM" style="document" />
      <wsdl:input name="ASM">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ASM">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_SMS">
      <soap12:operation soapAction="http://tempuri.org/Send_SMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SendSMS2">
    <wsdl:port name="SendSMS2Soap" binding="tns:SendSMS2Soap">
      <soap:address location="http://10.20.200.86/asm%20web%20service%20iis/SendSMS.asmx" />
    </wsdl:port>
    <wsdl:port name="SendSMS2Soap12" binding="tns:SendSMS2Soap12">
      <soap12:address location="http://10.20.200.86/asm%20web%20service%20iis/SendSMS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>